:root {
  --gray: #585858;
  --pearl: #dfdfdf;
  --border: 1px solid var(--pearl);
  --rounded-xs:  0.125rem;
  --rounded-sm:  0.25rem;
  --rounded-md:  0.375rem;
  --rounded-lg:  0.5rem;
  --rounded-xl:  0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-4xl: 2rem;
}

*, *::before, *::after { box-sizing: border-box; }
*                      { margin: 0;  padding: 0; }

a, p, h1, h2, h3, h4, h5, h6, button, label, input, textarea, select, option {
  overflow-wrap: break-word;
           font: inherit;
          color: inherit;
}

::-webkit-scrollbar       { width: 2px; height: 2px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #fff; border-radius: 5px; }

body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
  background: linear-gradient(to right, #000000, #434343);
  color: #fff;
  text-align: center;
  line-height: 1.2;
  font-size: 1.25em;
  padding: 0.5rem 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 0.5px 0.5px 1px #000;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration-line: underline;
}

.control {
  position: relative;
  display: flex;
  gap: 0.375rem;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: var(--border);
  border-radius: var(--rounded-sm);

  label {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.125rem;
  }

  input {
    min-width: 0;
    flex: 0 1 33%;
    color: #000;
    border-radius: var(--rounded-lg);
    border: 1px solid #000;
    padding: 0.25rem 0.5rem;
  }
}

.info-icon {
  width: 35px;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  border: var(--border);
  background-color: var(--gray);
  color: var(--pearl);
  border-radius: var(--rounded-lg);
  cursor: pointer;

  &:hover ~ .tool-tip {
    opacity: 1;
    visibility: visible;
  }
}

.tool-tip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 0.25rem;
  border-radius: var(--rounded-sm);
  border: var(--border);
  background-color: var(--gray);
  font-size: 1rem;

  &:hover {
    opacity: 1;
    visibility: visible;
  }
}

.history-filter {
  position: relative;
  padding: 0.125rem 0.5rem 0.25rem;
  border: var(--border);
  border-radius: var(--rounded-sm);

  > .info-icon {
    position: absolute;
    inset: 0.5rem 0.5rem auto auto;
  }

  > .tool-tip ul {
    text-align: left;
    font-size: 0.875rem;
    margin: 0.25rem auto;
  }
}

#search-icons {
  display: flex;
  justify-content: center;
  gap: 0.25rem;

  .icon {
    width: 25px;
    aspect-ratio: 1;
    padding: 0.25rem;
    border: var(--border);
    border-radius: var(--rounded-md);
    cursor: pointer;
    transition: 0.5s ease;

    &.active {
      background-color: #fff;
      color: #000;
    }
  }
}
